<!DOCTYPE html>
<html>
<head>
<title>Welcome To NC4H Portal Transfer - 2015</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/huser.css">
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1> Welcome to NC4H Portal Transfer <small>v 2.0</small></h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				What would you like to do?
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="/my_submissions" class="btn btn-default fourhbutton grow">View Submitted</a>
			</div>
			<div class="col-md-6">
				<a href="/add" class="btn btn-default fourhbutton grow">Submit Another Form</a>
			</div>
		</div>
	</div>
</body>
</html>