<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Submissions</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/user.css">
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Select Your Name Below</h1>
                 <a href="/" class="btn btn-default"> Return To Main </a>    
            </div>
         <div class="row">
         	       
            <div class="col-md-6">
                <select class="input-lg form-control" name="nc4her" id="nc4her">
                    <optgroup label="NC4H">
                        <option value="Sarah Kotzian" >Sarah Kotzian</option>
                        <option value="Amy Chilcote" >Amy Chilcote</option>
                        <option value="David Herpy Larry Hancock">David Herpy Larry Hancock</option>
                        <option value="Michael Yoder">Michael Yoder</option>
                        <option value="Salim Oden">Salim Oden</option>
                        <option value="Shannon McCollum">Shannon McCollum</option>
                        <option value="Mitzi Downing">Mitzi Downing</option>
                    </optgroup>
                    <optgroup label="TEST">
                        <option value="Gregory">Gregory Daniels</option>
                    </optgroup>
                </select>
                <button class="btn btn-default btn-block btn-lg" type="button" onclick="search()">View Submissions</button>
                <script type="text/javascript">
                function search() {
               		  if (window.XMLHttpRequest) {
               		    xmlhttp=new XMLHttpRequest();
               		  } else {
               		    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
               		  }
               		  xmlhttp.onreadystatechange=function() {
               		    if (xmlhttp.readyState==4 && xmlhttp.status==200) {
           		    	 	$('li').remove();
               		    	if (xmlhttp.responseText.length > 0){
                    		    $("ul#results").append(xmlhttp.responseText);
               		    	} else {
               		    		$("ul#results").append("<li class='list-group-item'>No Submissions</li>");
               		    	}
               		    }
               		  }
               		  xmlhttp.open("GET","/finddatat?nc4her="+$('select[name=nc4her]').val(),true);
               		  xmlhttp.send();
               		}
                </script>
                <ul class="list-group" id="results">

                </ul>
            </div>
            <div class="col-md-6">
	            {% if "Success" in message %}
	            	 <div class="alert alert-success">
					  <strong>Success!</strong> That submission was successfully updated.
					</div>
				{% endif %}
				 <div class="well">
				 	Please make sure that you are only
                 modifying your information.Look at the name selector carefully on the left. Once you see
                 your name, click on it and then select view submissions. You will get a list of all
                 submitted information. Just click on the link that pops up and it will take you
                 to the form that you submitted where you can update. 
                 	<p>
                 Before hitting the
                 button below please be sure that you are sure because it will remove all submissions for selected person. 
                 I plan to later have a login method that doesn't allow this but for now this is in your hands.
				 	</p>
				 </div>
                 <a href="#" class="btn btn-danger" id="removeall"> REMOVE ALL SUBMISSIONS for </a>
                 <script type="text/javascript">
                 	$("select#nc4her").change(function(){
                 		$("a#removeall").text("REMOVE ALL SUBMISSIONS for " + $('select[name=nc4her]').val());
                 	});
                 </script>    
         	</div>
         	<script type="text/javascript">
         		$("a#removeall").click(function(){
         			if (confirm("WARNING! You are about to remove all the submissions for: " + $("select[name=nc4her]").val() + " are you sure you want to proceed?")) {
         				if (window.XMLHttpRequest) {
                   		    xmlhttp=new XMLHttpRequest();
                   		  } else {
                   		    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                   		  }
                   		  xmlhttp.onreadystatechange=function() {
                   		    if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                   		    	if (xmlhttp.responseText === "Removed All"){
                        		    alert("All Submissions for" + $('select[name=nc4her]').val() + " have been successfully removed!")
                   		    	} else {
                        		    alert("Error when removing, contact Greg via email: gldaniel@ncsu.edu")
                   		    	}
                   		    }
                   		  }
                   		  xmlhttp.open("GET","/remove_all?nc4her="+$('select[name=nc4her]').val(),true);
                   		  xmlhttp.send();
         			} else {
         			    // Do nothing!
         			}
         		});
         	</script> 
        </div>
        
    </div>
    <script type="text/javascript">
    	$(document).ready(function(){
     		$("a#removeall").text("REMOVE ALL SUBMISSIONS for " + $('select[name=nc4her]').val());
    	});
    </script>
</body>
</html>